/* Font styles */
html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500');

/* Header */
.header-inner{
	height: 100vh;
	background: rgba(0,0,0,0.3);
}
.header-inner .uk-cover-container{
	position: absolute;
	top: 0;
	z-index: -1;
}
header{
	overflow: hidden;
}
.logo {
	background: #2296bc;
}
.logo a{
	padding: 0px !important;
}
.logo img{
	width: 10rem;
	height: 10rem;
}
.navigation{
	width: 100%; 
	position: relative;
	z-index: 200;
	background: #fff;
}
.uk-navbar-right{
	padding: 0rem 5rem;
}
.navigation ul{
	list-style: none;
	margin: 0px;
	padding: 2rem;
}
.navigation li{
	text-align: center;
}
.navigation .center a{
	padding: 0.5rem;
}
.navigation a{
	display: inline-block;
	padding: 2.5rem 2rem;
	font-size: 2.4em;
	font-family: 'Lato', sans-serif;
	color: #2296bc;
	text-decoration: none;
}
.navigation a:hover{
	color: #2296bc;
}
	/* add a empty string after the elment with class .slide-left-right */
.navigation li a:after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
	-webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
	-moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
	/* Change the width and background on hover, aka sliding out */
.navigation li a:hover:after{
	width: 100%;
	background: #2296bc;
}
#nav-icon{
  width: 30px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span{
  display: block;
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #444;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 9px;
}

#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#nav-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.slogan{
	height: 100vh;
	position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    z-index: 1;
}
.slogan span{
	margin: 0 auto;
	text-align: center;
}
.slogan h1,
.slogan h3{
	color: #fff;
}
.slogan h3{
	padding: 1rem;
}
.uk-offcanvas-bar {
	padding: 0px;
}
.uk-offcanvas-bar .top-bar{
}
.uk-offcanvas-bar .top-bar{
	text-align: center;
	padding: 3rem;
}
.uk-offcanvas-close{
	color: #fff !important;
}
.uk-offcanvas-bar .top-bar img{
	width: 20rem;
	height: auto;
}
.uk-cover-container{
	max-height: 100vh;
}
/* /Header */
/* Footer */ 
footer{
	background: #f9f9f9;
}
.top-footer{
	padding: 20rem;
}
footer h2{
	text-align: center;
	margin-bottom: 3rem;
}
footer textarea,
footer input,
footer .submit{
	padding: 2rem;
	margin: 1rem 0.5rem;
	border: none;
	font-family: 'Lato', sans-serif !important;
	font-size: 1.3rem !important;
}

footer input{
	width: 44%;
	display: inline-block;
}
footer textarea{
	width: 94.2%;
}
footer .submit{
	width: 97%;
	background: #2296bc;
	color: #fff;
	text-transform: uppercase;
	padding: 1.5rem;
}
footer .submit:hover{
	background: #000;
	cursor: pointer;
}
.bottom-footer{
	background: #2296bc;
	font-family: 'Lato', sans-serif !important;
	padding: 2rem;
	color: #fff;
	font-size: 1.6rem;
	text-align: center;
}
/* /Footer */
/* Overall style */
h1,
h2,
h3{
	color: #444;
	text-transform: uppercase;
}
h1{
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 12px;
    font-weight: 500;
    font-size: 5.5rem;
}
h2{
	font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
	font-size: 4.3rem;
	font-weight: 300;
	line-height: 5rem;
}
h3{
	font-family: 'Lato', sans-serif;
    line-height: 1.57;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 7px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
	background: #2296bc;
}
.uk-offcanvas-bar{
	background: #fff;
	color: #444;
}
.uk-offcanvas-close{
	color: #444 !important;
}
.left,
.center,
.right{
	padding: 4rem;
}

 /* Section-1*/
 .section-1{
 	padding: 2rem;
 	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Lato";
	background: url('../media/img/background.png');
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
.section-1 h2{
	margin: 0px;
}
.section-1 strong{
	font-weight: 400;
}
.section-1 .right{
	font-size: 1.5rem!important;
	line-height: 3rem;
}
 /* /Section-1*/
 /* Section-2*/
 .section-2{
 	padding: 2rem;
	background: url('../media/img/background2.png');
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
 .section-2 .inner{
 	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
 }
 .section-2 article{
 	padding: 3rem 0rem 0rem 0rem;
 }
 .section-2 h5{
 	font-weight: bold;
	font-family: "Lato";
	padding: 0.2rem;
	font-size: 1.4rem;
 }
 .section-2 h4{
	font-family: "Lato";
	color: #2296bc;
	padding: 0.2rem;
	font-size: 1.4rem;
 }
 .section-2 h6{
	font-family: "Lato";
	padding: 0.2rem;
	font-size: 1.4rem;
 }
 .section-2 .center{
	font-size: 1.4rem;
	font-family: "Lato";
	font-weight: bold;
 }
 .doing-holder{
 	padding: 1rem 0rem;
 }
 .section-2 i{
 	margin-right: 1rem;
 	font-size: 1.6rem;
 }
 .section-2 p{
 	padding: 2rem 4rem;
 	width: 100%;
 }
 .progress-holder{
 	padding: 3rem 0rem; 
	font-family: "Lato";
	font-size: 1.2rem;
	text-transform: uppercase;
 }
 progress::-moz-progress-bar { 
 	background: #2296bc !important; 
 }
 progress::-webkit-progress-value { 
 	background: #2296bc !important; 
 }
 progress { 
 	color: #2296bc !important; 
 }
.section-2 .progress-right{
	float: right;
}
.top-image-1{
 	width: 100%;            
 	height: 35rem;
 	background: url(../media/img/cats.png);
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
 }
 /* /section-2 */
 /* Section-3*/
 .top-image-2{
 	width: 100%;
 	height: 35rem;
 	background: url(../media/img/cat.png);
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
 }
 .section-3 .inner{
 	padding: 10rem;
 }
 .section-3 h2{
 	text-align: center;
 }
 .section-3 table{
 	width: 100%;
 }
 .section-3 h3{
 	text-align: center;
 	color: #fff;
    background: #2296bc;
    padding: 1rem 2rem;
 }
 .section-3 table td{
 	background-position: center;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	height: 40rem;
    border: 2rem solid #fff;
 }
 .section-3 span{
 	width: 100%;
 	height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
 }
 .section-3 table .small{
 	height: 1px;
 }
 .work-1{
 	background: url('../media/img/arca.png');
 }
 .work-2{
 	background: url('../media/img/kijkuit.png');
 	background-position: center top !important;
 }
 .work-3{
 	background: url('../media/img/delta.png');

 }
 .work-4{
 	background: url('../media/img/searacon.png');
 }
 /* /section-23 */
/* /Overall style */
/* Sub page */
.header-sub{
	height: 50vh;
}
.header-sub .header-inner{
	height: 50vh;
}
.slogan-sub{
	height: 50vh;
	position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    z-index: 1;
 	background: url(../media/img/header-background.jpeg);
    background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.section-sub-page{
    padding: 15rem;
	font-family: "Lato";
	font-size: 1.5rem;
	line-height: 2.5rem;
}
.section-sub-page h2{
    margin-bottom: 2.5rem!important;
}
.section-sub-page .right > *{
  vertical-align: middle;
}
.section-sub-page ol{
	margin: 2rem 0rem;
}
ol>li>ol{
	margin: 1rem 2rem!important;
}

.toggle-holder{
	margin-top: 2rem;
}
.toggle{
	color: #2296bc;
}
.toggle:hover{
	color: #000;
	text-decoration: none;
}
.toggle-content{
	margin: 0.5rem 1rem;
	background: #f9f9f9;
	padding: 1rem;
}

.img-container{
	max-width: 600px;
	margin: 0 auto;
}
.random-img img{
	margin: 0 auto;
}
.game-container h1{
	margin-bottom: 3rem;
}
.game-container h1,
.game-container h3{
	text-align: center;
}

#random-img{
	margin: 2rem 0rem;
	text-align: center;
}
#answer{
	margin: 2rem 0rem;
	background: #2296bc;
	color: #fff;
	text-align: center;
}
#images img{
	padding: 0.5rem;
}
.hidden {
	visibility: hidden !important;
}
/* /Sub page */
